<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Convite para DocGPT</title>
<style>
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
  }
</style>
</head>
<body>
<div class="container">
  <p>Saudações,</p>

  <p>Espero que este e-mail encontre todos bem.</p>

  <p>
      Meu nome é {{topic.user.name}}. Estou enviando este convite para usarem o serviço DocGPT,
      uma novidade que tem o potencial de revolucionar a maneira como se gerencia, acessa e compartilha conhecimento.
  </p>

  <p>
      O DocGPT é uma plataforma inovadora que combina o poder da inteligência artificial com a
      flexibilidade na publicação de documentos para oferecer uma experiência inédita.
      Com ele você pode criar tópicos personalizados, carregar documentos nesses
      tópicos e disponibilizá-los para consultas baseadas em IA.
  </p>

    <p>Este convite inclui acesso do tópico <strong>{{topic.name}}</strong>. Esse tópico contém meus conhecimentos no assunto,
      carregados numa série de documentos elaborados por mim.
  </p>

  <h3>Assunto do tópico</h3>
  <p>{{topic.description}}</p>

  <p>
      Mas você nem precisa acessar ou ler esses documentos. Basta fazer perguntas diretas
      na língua que desejar e vai obter as respostas, se as perguntas forem relevantes.
  </p>

  <p>
      Não vai encontrar essas respostas nos sites de Inteligência Artificial ou na Internet,
      simplesmente porque são o fruto de meus estudos e experiência.
  </p>

  <p>
      Além disso, poderá usar a ferramenta para criar seus próprios tópicos, responder a
      perguntas e criar resumos de seus documentos.
  </p>

  <p>
      Visite o site <a href="https://doc-gpt.fly.dev">doc-gpt.fly.dev</a> e crie uma conta se ainda não tiver.
      É grátis e poderá cancelar facilmente se assim desejar.
  </p>

  <p>Atenciosamente,</p>

    <p>{{topic.user.name}}</p>

</div>
</body>
</html>
