fly.toml
.git/
*.sqlite3
node_modules/
.idea/
.pytest_cache/
.ruff_cache/
.venv/
.DS_Store
.pre-commit-config.yaml
.env
.gitignore
.dockerignore
.coveragerc
Makefile
docker-compose.yml
.env_model
pylintrc
