
<div class="px-4 sm:px-6 lg:px-8 lg:py-4 mx-auto w-full sm:w-3/4" id="documents">
    <form hx-encoding='multipart/form-data' >
      <label for="file-input" class="sr-only">Choose file</label>
      <input type="file" name="file" id="file" class="w-1/2 sm-full border border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600
        file:bg-gray-50 file:border-0
        file:me-4
        file:py-3 file:px-4
        file:text-blue-600
        dark:file:bg-gray-700 dark:file:text-gray-400">
        <button type="button" hx-post="/new_document/{{ topic.id }}" hx-trigger="click" hx-target="#documents" hx-swap="outerHTML"
            hx-indicator="#indicator"
                class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                    Carregar
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-upload-cloud"><path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242"/><path d="M12 12v9"/><path d="m16 16-4-4-4 4"/></svg>
        </button>
        <span id="indicator" class="htmx-indicator text-blue-600">Carregando documento...</span>
    </form>
    <div class="flex flex-col" id="tabela">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700">
            <!-- Header -->
          <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200 dark:border-gray-700">
            <div>
              <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200">
                Documentos
              </h2>
              <p class="text-sm text-gray-600 dark:text-gray-400">
                Documentos carregados no tópico <em><strong>{{ topic.name }}</strong></em>
              </p>
            </div>

          </div>
          <!-- End Header -->

          <!-- Table -->
          <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead class="bg-gray-50 dark:bg-slate-800">
              <tr>
                <th scope="col" class="px-4 py-3 text-start">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                      Arquivo
                    </span>
                </th>

              </tr>
            </thead>

            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
              {% for doc in doc_pages %}
              <tr class="bg-white hover:bg-gray-50 dark:bg-slate-900 dark:hover:bg-slate-800">
                <td class="h-px ">
                    <div class="px-4 py-1">
                      <p class="text-sm text-gray-800 dark:text-gray-400">{{ doc.base_name }}</p>
                    </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- End Table -->

          <!-- Footer -->
          <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 dark:border-gray-700">
            <div>
              <p class="text-sm text-gray-600 dark:text-gray-400">
                <span class="font-semibold text-gray-800 dark:text-gray-200">{{ doc_pages.paginator.count }}</span> documentos
              </p>
            </div>

            <div>
              <div class="inline-flex gap-x-2">
                  {% if doc_pages.has_previous %}
                  <button type="button" hx-get="{% url 'document' topic.id %}?docpage={{ doc_pages.previous_page_number }}" hx-trigger="click" hx-target="#documents" hx-swap="innerHTML" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                      <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
                      Antes
                  </button>
                  {% endif %}
                  {% if doc_pages.has_next %}
                  <button type="button" hx-get="{% url 'document' topic.id %}?docpage={{ doc_pages.next_page_number }}" hx-trigger="click" hx-target="#documents" hx-swap="innerHTML" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                      Mais
                      <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                  </button>
              {% endif %}
              </div>
            </div>
          </div>
          <!-- End Footer -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Card -->
</div>
<!-- End Table Section -->
