{% extends 'land.html' %}

{% block content %}

<!-- Hero -->
<div class="relative overflow-hidden">
  <!-- Gradients -->
  <div aria-hidden="true" class="flex absolute -top-96 start-1/2 transform -translate-x-1/2">
    <div class="bg-gradient-to-r from-violet-300/50 to-purple-100 blur-3xl w-[25rem] h-[44rem] rotate-[-60deg] transform -translate-x-[10rem] dark:from-violet-900/50 dark:to-purple-900"></div>
    <div class="bg-gradient-to-tl from-blue-50 via-blue-100 to-blue-50 blur-3xl w-[90rem] h-[50rem] rounded-fulls origin-top-left -rotate-12 -translate-x-[15rem] dark:from-indigo-900/70 dark:via-indigo-900/70 dark:to-blue-900/70"></div>
  </div>
  <!-- End Gradients -->

  <div class="relative z-10">
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10 lg:py-16">
      <div class="max-w-4xl text-center mx-auto">
        <p class="inline-block font-medium bg-clip-text bg-gradient-to-l from-blue-600 to-violet-500 text-transparent dark:from-blue-400 dark:to-violet-400">
          DocGPT - Seu Assistente de Documentos Inteligente
        </p>

        <!-- Title -->
        <div class="mt-5 max-w-4xl">
          <h1 class="block font-semibold text-gray-800 text-4xl md:text-5xl lg:text-6xl dark:text-gray-200">
            Inteligencia Artificial para seus documentos
          </h1>
        </div>
        <!-- End Title -->

        <div class="mt-5 max-w-4xl">
          <p class="text-lg text-gray-800 dark:text-gray-600">
              Bem-vindo ao DocGPT, o seu aplicativo web revolucionário que combina a segurança dos seus documentos
              particulares com a inteligência artificial para fornecer consultas rápidas e precisas.
          </p>
        </div>

        <div class="sm:flex gap-6">

        <div class="p-4 mt-5 text-left bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700">
            <p class="my-4 text-xl text-gray-600 dark:text-gray-400">Por que escolher o DocGPT</p>

            <ul class="space-y-3 text-sm">
              <li class="flex space-x-3">
                <svg class="flex-shrink-0 size-4 mt-0.5 text-blue-600 dark:text-blue-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-800 dark:text-gray-400">
                    <strong>Segurança:</strong> Seus documentos são carregados, analisados e descartados. Não armazenamos seus dados originais
                          para garantir total confidencialidade.
                </span>
              </li>

              <li class="flex space-x-3">
                <svg class="flex-shrink-0 size-4 mt-0.5 text-blue-600 dark:text-blue-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-800 dark:text-gray-400">
                  <strong>Inteligência Artificial Avançada:</strong> Nosso sistema AI permite consultas rápidas e precisas nas informações,
                          poupando seu tempo e esforço.
                </span>
              </li>

              <li class="flex space-x-3">
                <svg class="flex-shrink-0 size-4 mt-0.5 text-blue-600 dark:text-blue-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-800 dark:text-gray-400">
                    <strong>Interface Intuitiva:</strong> Com uma interface amigável e fácil de usar, você terá acesso às funcionalidades do
                          DocGPT sem complicações.
                </span>
              </li>
            </ul>
        </div>

        <div class="mt-5 text-left p-4 bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700">

            <p class="text-xl my-4 text-gray-600 dark:text-gray-400">Principais Recursos</p>

            <ul class="space-y-3 text-sm">
              <li class="flex space-x-3">
                <svg class="flex-shrink-0 size-4 mt-0.5 text-blue-600 dark:text-blue-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-800 dark:text-gray-400">
                    <strong>Upload de Documentos:</strong> Faça o upload seguro de seus documentos diretamente para o DocGPT.
                </span>
              </li>
              <li class="flex space-x-3">
                <svg class="flex-shrink-0 size-4 mt-0.5 text-blue-600 dark:text-blue-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-800 dark:text-gray-400">
                    <strong>Consulta com AI:</strong> Obtenha respostas rápidas e precisas sobre seus documentos através da nossa inteligência artificial avançada.
                </span>
              </li>
              <li class="flex space-x-3">
                <svg class="flex-shrink-0 size-4 mt-0.5 text-blue-600 dark:text-blue-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-800 dark:text-gray-400">
                    <strong>Histórico de Consultas:</strong> Acesse facilmente consultas anteriores e mantenha um registro organizado de suas interações.
                </span>
              </li>

            </ul>
        </div>
        </div>

        <div class="p-4 mt-2 max-w-4xl text-left ">
            <p class="my-4 text-xl text-gray-600 dark:text-gray-400">Como começar</p>
            <ol class="list-decimal list-inside space-y-3">
              <li>Faça o seu cadastro gratuitamente no DocGPT.</li>
              <li>Crie tópico ou assuntos para agrupar suas informações.</li>
              <li>Faça o upload dos seus documentos.</li>
              <li>Explore as funcionalidades do DocGPT e descubra como a inteligência artificial pode facilitar sua vida.</li>
            </ol>
        </div>

      </div>
        <!-- Buttons -->

        <div class="mt-8 gap-2 flex justify-center">
          <a class="py-3 px-3 inline-flex items-center gap-x-2 text-xs font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="/main">
            Acessar
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-in"><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"/><polyline points="10 17 15 12 10 7"/><line x1="15" x2="3" y1="12" y2="12"/></svg>
          </a>
          <a class="py-3 px-3 inline-flex items-center gap-x-2 text-xs font-semibold rounded-lg border border-transparent text-blue-600 hover:bg-blue-100 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:bg-blue-800/30 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="/register">
            Criar conta
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-check"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><polyline points="16 11 18 13 22 9"/></svg>
          </a>
          <a class="py-3 px-3 inline-flex items-center gap-x-2 text-xs font-semibold rounded-lg border border-transparent text-blue-600 hover:bg-blue-100 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:bg-blue-800/30 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" target="_blank" href="https://gapfranco.notion.site/DocGPT-ae3ba210f7b14443a3fa352ba69cde9a?pvs=4">
            Informações
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>          </a>
        </div>

      </div>


    </div>
</div>
<!-- End Hero -->




{% endblock %}
