{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="mx-auto  bg-slate-50 border-x-gray-200 py-10 px-4 sm:px-6 lg:px-8 xl:border-x dark:bg-gray-800 dark:border-x-gray-700">

  <!-- Card Section -->
<div class="max-w-6xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-3 sm:gap-6">
    <!-- Card -->
    <a class="group flex flex-col bg-amber-50 border shadow-sm rounded-xl hover:shadow-md transition dark:bg-slate-900 dark:border-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="new_topic">
      <div class="p-4 md:p-5">
        <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4.0" stroke="currentColor" class="w-6 h-6 text-blue-600">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
            <div class="grow ms-5">
            <h3 class="group-hover:text-blue-600 font-semibold text-gray-800 dark:group-hover:text-gray-400 dark:text-gray-200">
              Adicione um novo tópico
            </h3>
            <p class="text-sm text-gray-500">
              Pode adicionar quantos tópicos quiser
            </p>
            </div>
        </div>
      </div>
    </a>
    <!-- End Card -->

    {% for topic in my_topics %}
        <a class="group flex flex-col {% if topic.publish %}bg-sky-100{% else %}bg-white{% endif %} border shadow-sm rounded-xl hover:shadow-md transition dark:bg-slate-900 dark:border-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="topic/{{ topic.id }}">
            {% with 'topic_images/'|add:topic.type|add:'.webp' as img %}
                <img class="w-full h-24 rounded-t-xl object-cover" src="{% static img %}" alt="Img topic">
            {% endwith %}
            <div class="flex py-1 px-2 justify-end">
                <span class="text-xs text-gray-500" >{{ topic.type_name }}</span>
            </div>

            <div class="flex px-4 pt-1 pb-4">
              <div class="text-gray-800 dark:text-gray-200">
                {% if topic.publish %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-rss"><path d="M4 11a9 9 0 0 1 9 9"/><path d="M4 4a16 16 0 0 1 16 16"/><circle cx="5" cy="19" r="1"/></svg>
                {% else %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-book-open"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"/><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"/></svg>
                {% endif %}
              </div>

              <div class="grow ms-5">
                <h3 class="group-hover:text-blue-600 font-semibold text-gray-800 dark:group-hover:text-gray-400 dark:text-gray-200">
                  {{topic.name}}
                </h3>
                <p class="text-sm text-gray-500">
                  {{topic.description|truncatewords:12}}
                </p>
                 {% if topic.publish %}
                     <p class="text-xs mt-1 font-semibold text-gray-500">
                     Publicado por
                     </p>
                     <p class="text-xs text-blue-500">
                     {{ topic.user.name }}
                     </p>
                 {% endif %}
              </div>

            </span>
        </div>
        </a>

    {% endfor %}

    <!-- End Card -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Card Section -->

</div>

{% endblock %}
