{% extends 'base.html' %}

{% block content %}

    <main class="w-full max-w-2xl mx-auto ">

        <div class="mt-2 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <div class="p-7">
                <div class="text-center">
                    <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Tópico</h1>
                </div>

                <!-- Form -->
                <form method="post">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                        <p class="text-sm text-red-600 mt-2 mb-2">{{error}}</p>
                    {% endfor %}

                    <div class="grid gap-y-4">

                    <!-- Form Group -->
                    <div>
                      <label for="name" class="block text-sm mb-2 dark:text-white">Nome</label>
                      <div class="relative">
                        <input type="text" id="name" name="name" value="{{ form.name.value }}" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" required aria-describedby="name-error">
                      </div>
                    </div>

                    <div>
                      <label for="description" class="block text-sm mb-2 dark:text-white">Descrição</label>
                      <div class="relative">
                        <textarea id="description" name="description" rows="4" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Descrição resumida do conteúdo...">{{ form.description.value }}</textarea>
                      </div>
                    </div>

                    </div>


            </div>
                <div class="flex justify-center m-2">
                    <a href="/main"  class="py-2 px-3 mx-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:bg-white/10 dark:hover:bg-white/20 dark:text-white dark:hover:text-white dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                        Cancelar
                    </a>
                    <button type="submit" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none dark:hover:bg-blue-900 dark:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                       Confirmar
                    </button>
                </div>

        </div>
                </form>
    </main>

{% endblock %}
