{% extends 'step.html' %}

{% block content %}

    <main class="w-full max-w-3xl ">

        <h1 class="font-medium text-blue-800">Redefinição de senha completa</h1>
        <div class="m-5">
            <p>Sua senha foi definida. Você pode prosseguir e se autenticar agora.</p>
        </div>
        <a class="font-medium text-blue-500 hover:text-gray-400 sm:py-6 dark:text-gray-400 dark:hover:text-gray-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="{{ login_url }}">Acessar</a>

    </main>

{% endblock %}
