{% extends 'step.html' %}

{% block content %}

    <main class="w-full max-w-3xl ">
       <h1 class="font-medium text-blue-800">Redefinição de senha enviada</h1>

        <div class="m-5">
         <p>Nos te enviamos um email com instruções para configurar sua senha, se uma conta existe com o email fornecido.
         Você receberá a mensagem em breve.
         </p>
      </div>
      <div class="m-5">
          <p>Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que você está cadastrado,
          e verifique sua pasta de spam.
         </p>
      </div>

    </main>

{% endblock %}
