{% extends 'step.html' %}

{% block content %}

<main class="w-full max-w-3xl ">

    <p>Por favor, informe sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>

    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            <p class="text-sm text-red-600 mt-2 mb-2">Corrija os erros abaixo</p>
        {% endif %}

            <input class="hidden" autocomplete="username" value="gapfranco@gmail.com">

            <div class="mt-5">
                <label for="id_new_password1" class="block text-sm mb-2 dark:text-white">Nova senha:</label>
                <input type="password" id="id_new_password1" name="new_password1" class="mb-4 w-1/2 block border-gray-400 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" required aria-describedby="email-error">
                <p class="text-sm text-red-600 mt-2 mb-2">{{ form.new_password1.errors }}</p>
            </div>

            <div class="mt-5">
                <label for="id_new_password2" class="block text-sm mb-2 dark:text-white">Confirme a senha:</label>
                <input type="password" id="id_new_password2" name="new_password2" class="mb-4 w-1/2 block border-gray-400 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" required aria-describedby="email-error">
                {% for error in form.new_password2.errors %}
                    <p class="text-sm text-red-600 mt-2 mb-2">{{error}}</p>
                {% endfor %}
{#                <p class="text-sm text-red-600 mt-2 mb-2">{{ form.new_password2.errors }}</p>#}
            </div>
            <button type="submit" class="mt-2 py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                Alterar minha senha
            </button>

    </form>

</main>

{% endblock %}
