
<div hx-get="{% url 'question' topic_id %}" hx-trigger="click" hx-target="#questions" hx-swap="outerHTML"
     class="max-w-4xl mt-4 p-6 mx-auto bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700">

    <h1 class="block text-sm font-bold text-gray-800 dark:text-white">Consulta</h1>
    <p class="block text-sm text-gray-800 dark:text-gray-400">{{ question }}</p>

    <h1 class="mt-5 block text-sm font-bold text-gray-800 dark:text-white">Resposta</h1>
    <span class="block text-sm text-gray-800 dark:text-gray-400 leading-relaxed">
        {% autoescape off %}
            {{  answer }}
        {% endautoescape %}
    </span>

    <div class="mt-7">
        <p class="text-sm text-gray-400">Clique na janela para fechar...</p>
    </div>
</div>
