
<div class="flex" id="chat">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700">
          <!-- Table -->
          <table class="divide-y divide-gray-200 dark:divide-gray-700 table-fixed">
            <thead class="bg-gray-50 dark:bg-slate-800">
              <tr>
                <th scope="col" class="px-4 py-3 text-start w-1/4">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                      Pergunta
                    </span>
                </th>
                <th scope="col" class="px-4 py-3 text-start w-1/2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                      Resposta
                    </span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
              {% for que in que_pages %}
              <tr hx-post="/chat_detail/{{ que.id }}" hx-trigger="click" hx-target="#chat" hx-swap="innerHTML" class="bg-white hover:bg-gray-50 dark:bg-slate-900 dark:hover:bg-slate-800">
                <td class="h-px ">
                    <div class="px-4 py-1">
                      <p class="text-sm text-gray-800 dark:text-gray-400">{{ que.text | truncatewords:10 }}</p>
                    </div>
                </td>
                <td class="h-px ">
                    <div class="px-4 py-1">
                      <p class="text-sm text-gray-800 dark:text-gray-400">{{ que.answer | truncatewords:20 }}</p>
                    </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- End Table -->

          <!-- Footer -->
          <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 dark:border-gray-700">
            <div>
                <span class="font-semibold text-gray-800 dark:text-gray-200">{{ que_pages.paginator.count }}</span> consultas
            </div>

            <div>
              <div class="inline-flex gap-x-2">
                  {% if que_pages.has_previous %}
                  <button type="button" hx-get="{% url 'chat' topic.id %}?qpage={{ que_pages.previous_page_number }}" hx-trigger="click" hx-target="#chat" hx-swap="outerHTML"
                          class="py-1 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                      <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
                  </button>
                  {% endif %}
                  {% if que_pages.has_next %}
                  <button type="button" hx-get="{% url 'chat' topic.id %}?qpage={{ que_pages.next_page_number }}" hx-trigger="click" hx-target="#chat" hx-swap="outerHTML"
                          class="py-1 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                      <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                  </button>
              {% endif %}
              </div>
            </div>
          </div>
          <!-- End Footer -->
        </div>
      </div>
    </div>
