
<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700">

{#      <script async#}
{#          src="https://js.stripe.com/v3/buy-button.js">#}
{#      </script>#}
{##}
{#      <stripe-buy-button#}
{#          buy-button-id="buy_btn_1OteKaDHdeeFtYlbbjey8RAe"#}
{#          publishable-key="pk_live_51OsmWBDHdeeFtYlbRCAalCGwMCIaNJIOXhoiL09gXU9dHNY5bsZzmufGeZSUrMt03ljOIrXB8KDyxaxWiJGpE9Av00axqWAxeL"#}
{#      >#}
{#      </stripe-buy-button>#}
    <div class="mt-1">
        <p class="text-lg text-blue-800">Compras ainda não ativadas</p>
    </div>

    <div class="mt-7">
        <a href="{% url 'profile' %}" class="text-sm text-gray-400">Clique para fechar...</a>
    </div>
</div>
